<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>main page</title>
    </head>
    <body>
        <form action='{{ url_for('add_rec') }}' method='POST'>
            <p>
                <label>Contact name:
                    <input type="text" name="contact_name" required>
                </label>
            </p>
            <p>
                <label>Contact's public key:
                    <textarea name="public_key" required>
                    </textarea>
                </label>
            </p>
            <p>
                <button type='submit'>Add contact</button>
            </p>
        </form>
        Example key for internal testing:<br>
	<textarea style="height: 100px; overflow-y: scroll" readonly>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQENBFThyOoBCAC+l8xnEWzv8mO72sBBWdM6MRzRFrV60R5eUK7/b0F7j2meTMzL
HbFKOY6hS5k1yF6sK5nURQh6J3/229HkPRXW5SUjLZVJov4JFrmx/OTK1ur5URow
Gdv+BXfLkZ8Rou4B8O6f/ZoVpOVbdZZYHLh+mFPPYZa9iSN+sYDzdlOGlTtQKLlH
6uXr/aIkdnO4NlS+E6R2ZW51pXetRurb4oppIh697Mv7v3JYyagRpupbTiSfE39J
Mr4orxCwQTNDdRHMBK7anTyh9rTdiE9FT8EwchuuGZYEve6xhdCOkUi+9Ow6Ov/K
I+c9uzDG/1piUCz0tX78PnXds/+WXj6nJwu5ABEBAAG0IkthY3BlciDFu3VrIDxj
b250YWN0QGthY3Blcnp1ay5wbD6JATcEEwEKACEFAlZt7+ACGwMFCwkIBwMFFQoJ
CAsFFgIDAQACHgECF4AACgkQJO3qUDMPtXFGCgf+MJxVCRuEdQjy7DJl4kHZTD7w
4xutG63WUnJH1GRQp4qUzCLPNsaJZ8k2g0oKZlA10HepCAL5ojPGNrlyerKIteAE
RO3k0um4eUzlOyGWpR2LUCTi1TtAGxmQfIJkzwD/QhQhdsY+5CRM8Z53GWDVuKwh
6ygw4ioaE1BlIB/H0r6t9tLYqgwQCzUK0YbxDoqP6ErSlj3T7sRGNzNoP0YzQtKV
49lZWPytUeOTFwUWF0LjfWT9H+HpayiFJKYIywx8Hxq4EC6fFk4dDGNWWt0mgZIO
qFMyWFXnXRX8ZktPukeNTuNmU4rOgegX0Xk2oumT10hgGKSTHQwnz0WrNgZ2w4kB
OgQTAQoAJAIbAwIeAQIXgAIZAQUCVweLGwULCQgHAwUVCgkICwUWAgMBAAAKCRAk
7epQMw+1cShwB/9FMxFW5IB1lU30XW0u+3k91ayFuCCJFxQFpD60amuIzUNtd6Sq
xMsbsrm8/x+vWBIuJ1i17pzwzUL3BvZJrnmu3xr+JvOSoUsVaYfvu0QXPjOFA0nd
MqyZCTpDhrAs67JOL7cwh8b7OgoK1ur3QH6Gap3V9Jf5Pn85Lx6F1cGG/U54NipK
4An+BdQans3y/aHTCHSi3bSy98wHz5QjBEeKRAjGc596Zs77vRfnX2mTS95vbbpk
mgLyNTFgiAXPNOQ45kZLX49R9lQ51O7R3uTzoguOUan1gjyLb12Q+49qjj8/vGq8
wjEn1iJzu0X6Fgasl4s4ryN0SsQvFXvYr61JiQE6BBMBCgAkAhsDBQsJCAcDBRUK
CQgLBRYCAwEAAh4BAheABQJXB2/jAhkBAAoJECTt6lAzD7VxRHcH/A/GVjd6DJy4
gbwNxsDRREaG71YVPfYFhONICCrNGLHreiDNIovONmRfEKEEiOgRVdK1fmmV4pez
FX94ageeXiqKUJowYygHQfNtRWTL/b4fB27S17CSU0il8iFlCcuyhWLnWpL2unVr
mZ4L78G9tzWV9+5IL1euzYR9MRAgM5g8/mLYJu/CumBw46j969Yl/LycbtwcAGus
w8r2s+NVb5dXKnW4zjXyS9xU0efGAEhhb/duHSmCuRCAx6/zl8P40uggZeliyf9j
MbyJtoNZrq34cwtKs5WAUkBsIIhRdt+mLPCzikTBXlG08jngsfKjBSjRHtkl74WU
e95lCSEa4tSJAUAEEwEKACoCGwMCHgECF4ACGQEFCwkIBwMFFQoJCAsFFgIDAQAF
AlcHi1cFCQQG9e0ACgkQJO3qUDMPtXGSyAf/aCqTRAIF5mnk/Z/zTFHAvdP/OiOh
ap5hlOw1T95q/KPa9Pj8O5Y0svUTNjFyMDfRT7RmR1jBIz+Qx8YhoxBUdbqaHi7Z
XUjK5J2b6LZaI40bE0cLD1nQCi3xu+wJ8ZoRJDTP/MxwajBFe86AFbMsro/9cF+T
9gbvxYreAM1KI6OMvCGvJUjqLZdXSWiKPeqyZrD2uJetnXVpvP1ftdFx0nNSFGq+
1AD11Wy8ijx7zq5+Tmd6IkGemiaXtrpW9Cj67P0ezRvzZ36oSo6o6nsWZVBaVPey
hdvsojnr2aRMzxzUp8BD3BnosRIhmZveQsUy6LklsuOsNBeepC9Erl1WkokCHAQQ
AQIABgUCVsxx6gAKCRC24slmpUVNGEXfD/4qmx1Ip5E+R1lMhe5AxBB1L+XKdGok
k0bsiB8dNwBZVwhGDEVTejsePkx4YhOonNNGgDZY8Uu7UvEbZDGRSQ2EDqzcheqr
EDTaDm9XiB1IaXMKJqiCQZihZXI5gHbPacGrv24Sz6D1cSd55I7WwSk0DdQmwp+7
8rsq3eEEyTU5uzSdHC12mjbhPlJtodlQ9LHWCKnyQWcWhWrf9T2BT+edcllHHarD
AlVyByNroq5mpMxFNFt7v/uqZV9Trwk8NosOOZhDZE7hBcy3E5wqVF6f7D/NVT7R
8NBIy1nzCzejpAp02k/PU5P/UlPzIvTxc9+JBzUSPdB6kQFVThTQrqLGI1okB9Fz
3QZXQ0f1qXLARwC3eF3VPR2/HH5sXSysRrXAy7Sh6nZAcs5suU5a02e7t0Zq7wRq
QRaU66Z5eu3H0A08B9waul3ZCr8XGlLGvW/75x1hvaQdq1bUffauCcRDWPfGgPyg
FAYKXrAyp7X/AqBCQQv1VKLcJDqHu1y/yd/nMCadQ7TDIfF0HNPTBUVcSPa6m0D3
mGaFm24efh1C1yd7p1Q1BrTfNe7wCh8Re8nXQ0/tuztGT/HCIXRkxC08lPrrnK4Y
0wJ9oyqkkxeJm0sND9tcSt0nu1tEMh715ZTYODUjNU/4xmQYKyo3h5t4XqxWh5+W
wTyKLK71zE9TZokCHAQQAQoABgUCVwZywwAKCRDvKcW7CxfgAGFmD/9A+RFb4S31
iebZgG7khlUSFK4p5KkjvKvBCSwHkRtd/iS+a9Kl8qj1aW00JeOyEyATmUQ2zAW1
a1DXJKX64BkD2usdOTjVfhT1WnRJ4iKswT134c1CZjh49HvWq6qEbVa+cU4R4xB/
ZtHdaZBDPob9MRfTbuySe+PH5/fYSIG1ZycidvGo/WZNb61TOqMdpcd9DVIo3hUV
Atnpw4DLOmjXN9dgHaTG/21fqWUwuLBCpfmxxP4cnMK2nkVNUKew18lW739rOFwR
6KFkv3TIFTaMVuvCEzwR1R2kXVgu7LnNoAlEWpP74UH8PbYWaUnwG1JraznwKP0r
RZU8RH3Sk3y9Sn+g1PK6KNu+Tia7l17RNrSLmzBqNGM27DaJc7H8ZvXnS0LbGa/O
F0CcUi2/61qGa9CV2lhm8yWMkzTHxRazJYVZVhXXkYPGEHHLYc3dDf9Kjb1/qGyz
Zv79YB5h2hFBn7+H4nOic8w3si9kx+I+6tzTAUtsBONFKVsALjoVlLro4XFt7T+p
2E31qa4nzYZ/Jfx9EyJN4me4qbuBaehC3CZpdfKMU9PSFlfyEObGRlbfbZAyR10a
eUsROkh2ChQc22XVKQbrb6yQkoOigmh12GR0YhrOhjtnLJgj1gQcgT3Y1jfsDdyZ
QtXyjsZ/S5g25UT4qwHnAEI7BpPAF8jzzbQkS2FjcGVyIMW7dWsgPGthY3Blci5i
Lnp1a0BnbWFpbC5jb20+iQE3BBMBCgAhAhsDAh4BAheABQJXB4sjBQsJCAcDBRUK
CQgLBRYCAwEAAAoJECTt6lAzD7VxeT8IAL2c/I3ic2s4el3RvSuBclrvlryhvs3d
A4jvizEu3u5CSbC00mUworqQIL1o+WdRxvWggS8QFWgx5yuel/lUCkWg6Lyrmumk
KiViPanokwAGDKJ/K8Us/ZfJ7Gx/GbqmfOGhqzR1PaaoiLQ8Osrnz/HE91qWWCQ3
wBIFL46JtgjOoGW4mihbLUchFSAsFFC0BwOpwjxkUVhX8d8/eG0xfcyxXl05YBNc
9PrU6z46MTTGixl9hwxrSaRDMZEv9KzePZ9dBVa7piA0CwSf5jR9aNFO0flQ8+34
yF8BvMpLpBFl9H3PzQrOS91I6dNPYjmWyrwRvfzIhgfkqaHdZrgK3v+JATcEEwEK
ACEFAlZt8GkCGwMFCwkIBwMFFQoJCAsFFgIDAQACHgECF4AACgkQJO3qUDMPtXF8
mwf/SawqAqbZ1WgcJjDDzgE+Rj6JJpbjStNmSCG9u+QiWXc+rFCJNzWArCTRElff
bu5I0ZgXw+xNCPYlCuSrkv9IXlywntafLT/fH4bMmHIGWkInwJ414cS4xfqn7TSr
v1p82LwCICJzFXIzoHcYtXyV66OZPc9V6aMYE1qKDFMu2CHTVeHq4ciFHernmtFP
HnLpGVqzc+Kam20x8Bnwo4BvXORxAPswyDy3IrJRyQKjDGSj51CT7Z0acZo0ZKOb
JXBldSTyT4jBSXYmLxJ0Sf+ae9y51vRgILyeBctJosl8PI5M5hMqMoqHD+JV3z6Y
fXKqomtslUUdcQVNrvy5t76e54kBPQQTAQoAJwIbAwIeAQIXgAULCQgHAwUVCgkI
CwUWAgMBAAUCVweLVwUJBAb17QAKCRAk7epQMw+1cUQICACc1/JE89NMo0IRe3OE
kBYV+bLxavg5TqDiBd8hgXYB9UgL+7cn2oZq5eCOyVDenCKNdCKrYjUw+2t3IS67
C9ZBtbm+Fqb4qmtlvGkujfGh6FRMb/Qideuh6uxrcHpjdA5pMSqYV1o18BRLKAp6
YGYJpidUNfaTQPsmvpj8u8Tfr1VxCsSO4elrXVcBQsn+ql1HAOwhiFool+fG1nk+
z6GOrIBc7vJ4RpS69UeVhHHOONISxGlvwLPugYeLy945kE7fuOGnL6CuQDpa1280
kCVQ3ZN4ZZrhYx/1wpf+OuUhM2TWSAXWjwmMTLXu1MrhMmZv2Jm7EDAn1e1Q3/wg
gkaLiQIcBBABAgAGBQJWzHHqAAoJELbiyWalRU0YN2wP/16g6MMZnc6Y+P6Z2GTm
O/ZpCqml8tTrMDtM9eJEUtVCvOdh+C1HJ1Ua45vP0h3fx8C1UbYr90/trC30Vm8B
E8EsemyubOjVTIdE1XUmakwvgyYUBJ+1wOqISyjcrMujdGu+JZ3EQR7v9k2cOOKr
Y5KvqPzOp+YE9sQH3OUitdbv2JbFFpPrhVY5pp7BjNlnBiVCOdWaQjxdhi79Nohs
bxgnjPBq9wqulflGT/UYJGyei+SFlRj9QX6gTxHEC3xwOPd59oguIwe300P9DiDf
ot0GW8wh0ug2Iw9iRn9Xd4zuGO0LK3pO0G6pgL8FBYmvdbpCTBXRxIwhH27rU3Jp
gtysPP13APNbyP90plaLka9+p2zW96aZzXfsbJZD1fW7wd4tx5zFvU9T+9/8W7ae
WSfK2cThXxzWPkl1rOKpog+THlm519YBiL1Par9wSK9IEulv4mUIXFvmMTDmxvRf
uSC/Fx4+yFSmq/pv6Kl2zXUGA8hfqqfEYhIgUfJ0rEEMv0/iW9dkY4jg4GVFwQmS
Vkd6jlyla/wPv9inmwKfNPlcIJJW+Oi3BfxDkBCsHylQYTY637XmUg8cYULi9GdT
Zv5oFBtXjWHN89yO/ciTsgIjOxrMH2cs8VNbEkWAbgLf2C12r03yKnlTFAYLUeFY
EK1g0XDT23u0uTlUlyXzGQBZiQIcBBABCgAGBQJXBnLDAAoJEO8pxbsLF+AAjw8P
/j6c3OFECU5ttskd2UaBzVh2JT9oE0bCnOS7v4SB8AjeIet/Jf+aTTHPKKM3OxgD
qq9DZIQO8KKHQmaI6BgGwL42ewi9t82X4lgHH4Y0tJ/i8W6ccYXqc4e/3OW94JOB
rnv/GueXRZjJSt0OxrUs4BzSNuJPugXe+3it1tfbRukzRRpiFV+VtpFMPJdDLe6Z
hLx5/fGRhoNzJVoJrxUzp7Q54LCc4UbY96DpAfZv7tApUti9ac2egDY+Ywbxqb71
hPXuQgLCEnH5d3D5SiF8E46zNiSH0t630WVoBTqZMyhulElF08rBMic2BLdR4yO1
GtXN9HM5HCmPlHMl46xpBn4S8QRFh6fOujLjR5Br3mLHSQXyB2z2XuDoaBhaVuOT
/v4sIssblKcvg5VT3BtIALWVmSNDqxtOAVgYcUkNAZG+xWAhMyGDUAUaHYCDGohW
h7nYp8movMTZAVUtfgVqfg9FK7Zs4wWlc1PjNxlhEItelzgOPwZrxJUOgVribsGR
srU+WWKa5NrwP6tBDlEYkjso15GuYdJ23kfqscqTonvtzIflyGZPWbiCw0OiNuOJ
02lYdJtaxeOdf/LJROe908Z0b93M2poiUUVQxKT9pQsKrkoPEF/u5w2uwCsG3l8w
axdVwuSyfn/5t/OY6D4GX2+QKC1LZs3s6H9VrrZIfMZrtDpLYWNwZXIgxbt1ayAo
S2V5IGZvciBjb21tdW5pY2F0aW9uKSA8Y29udGFjdEBrYWNwZXJ6dWsucGw+iQEf
BDABCgAJBQJWbfA4Ah0AAAoJECTt6lAzD7VxOQ0IAJpNOiCyus7tiLGWiE8EUw/K
bI85dn4UU9llMEYOvTydW1sLWyFo/yxKCWhSXoWMdqrMO+sV6+heDe6yK5V1U6q3
X9R3tjCdmbCBpSqO2cwdb5Hny3qNm5DjlfD208e3nNgKnNH21awgrNHcxN0l2zdh
xnOgPcyqYkiWYoN+kx1ZeLdhrCUsUHJN8h/F/20cYkCWTFexENGP9fIHPSIgtZU0
L6wqBkZ9egjKUfMP7nwJKr1xpOkoygcBg41cV+ieYtl8J2pgkh7J9qj1tDJCLVpm
O1fi5VM1Np7I9p7w4w62o9YLRfdlA4E2hBCeowrN1tF9gCFy1HWuGRY71ECS3AeJ
AR8EMAEKAAkFAlcGdIgCHSAACgkQJO3qUDMPtXHgnwgAlvPvwB+9aANzxcCFxxc2
KFLHjYgyJQTtfhOpAXKL1s5g8RfZSJmwqdPRHaoqMsHficQCDHgxmn1+kPqHrJhD
mJzZQ3hUhRJ/Z8l+NDPAy2++SH8nJfIgvpoFi32b85jitAg+dD83veFzePLSYnG5
Bt+H6gB7aH3GMyerL1apEZFu7Kk9XheosAxcP4EBhLeiLsT6fg+MlnqRcXP5VvkX
NzVB0XSzjJSE97Yh3UqvN/c+eBTaA1CegImHdeH9NdtO1nqVNlDzK722FS/JZvDQ
0OoYPtVvS9bY1pq2IS3hZ1ncDdPC2ZB05iDQ/Qf5ddNmQO4PsA2rCYwRzXodpmVT
t4kBNwQTAQoAIQUCVm3hSwIbAwULCQgHAwUVCgkICwUWAgMBAAIeAQIXgAAKCRAk
7epQMw+1cQtkB/9UGJ3Bna73qkMBONMoUSoJL5hLrQkPAJ23mkx+TpFxjD7swcWK
kVrOvSuxkqTN/vdHUoPldGrDDoJSPrOjb5zb6wlSWCQVKch4yxkNELiGwfmyB2mH
y/qcUhLmBxsdhfo08uKlmieJo5nOo+fEWjJL5HWYpCdAKr0qz8N2jT1zOtGABFq5
SPbNEcLhBzwSFg1Y6Dei8ngmTppHmIuQuEryWTvmtqwXBcALSOBDKmz21c+zcZ1N
GUZagZxNSZnsubUzPXPPziE1XZN0SGd4fy5Q0AidcC87EnXKHpBJ0jPV7RzXJqs9
gcZ3dri62QSOYZ/5za+u2FYzs13BPCFREoOAiQIcBBABCgAGBQJXBnI+AAoJEO8p
xbsLF+AADoMP/RXoURrQb22XN4q7GNrNNQPQ0RGJfnbVUT4jGzw3k4PfezNDeYsS
8U5GCY9h8ekHxzmHbJ0v2cSQ6cMNBPPIJ9YO0QcDKW7wnI0ICH786jjuT9/RsFtu
mzg+xSWjoxZUW0iGU/3fF9UCQwChXCzff+qRpHu23N/oPwtYE8MnjAlO1TbTw8yd
kRVPZFrvBz7EiVKWkbk86BZ5YVM+625p1mQVoQtotJ3lY+011B50m47Nu2hsucF7
PDcemVJYoRGjqIuUQ1bEdxV8wwvr2ZS/cwoJ/Hcqo9q71k3Sbe/ZUuOTLZ3VNczH
Ti1qZa1EceACvE/VXXsMeH+uxyCGOAonog753I+8bw3sgBLup4P/kDuLFrTksE6F
rsWU/Tph3Y9D111ErWD9ZmktKR1pWAOOptoLCP4id+GokUgylJiGBVfgDWRj0YF/
rLHVeL7+rZw55KZDcwp2nRF9GG0majopH+dc3UG+51CeuKGEiVXRAqDTM5TIus+9
cgzXqTxbhoZJrjV5bsWIjY2dC2Tzo5R6F/HOpH6XeArJWXEw56pji+sKBxNyKKFS
oLShLxdgKy+xTgoGPJiVXzS0vQpJxv3AF+55Z3JHgOFYMN/uorg43mAhjGJrx9sG
hEF5QgqhDrSVwsA27fF6XSmGkeAcUBCrBKn1EmKRYk90JbxtUQmWfTFviQIfBDAB
CgAJBQJXBnOnAh0gAAoJEO8pxbsLF+AA4nwP/2+klreQt/W8rv/a1BWHV6xPVZ8f
iG4pJ9i2edTr89vLZ59QEGstV/Fl9PVpfggJywUFd/3x6AOtNWFL0M5q5rqXNwNV
dy6FL4JbUQ9uME3Nlyg1l+G8mfDzf3xOFT80mk60ZvLYd0iA2A4vlQfcrAnih4D+
cHsz6l5S9Cn+xhSjpBO4Xj4HyiymL6UZqoKRopwYZ3HaCHCdj2LSYWdj6Y9C22n7
Lf8Q+RkEBMAe/SnvzHiXMBXjDo8xPA/dpBmRZLrAhdUxdu/Nz0Oz46VedgJkDyPB
85Gi/dwLZpeRiIZjT1SXswjJkCKA8kiwZNwKtuN0+bhG3Hxp73GBfZiHIlBFmwW/
FVnHAadzW7tyeLXX5X4VebOUHoyJC7jsduSyJXY4qHsjD0bSK3o5zav/bqWlIwHh
URRxS9b7ubDiAraoQ5aYBiok5JqHijHjXzYHzrRrK5KKNjNFNY7omb492jA9a9Fu
NCgyaYtqlFUG8kilulegQug17uVJUUvPUq8rll+DggWAFfJasf5bb/lqLWdq9gpz
PMvDWBK1mCMFUsy/oHSA7hXmRy5hc7lUQAWaTwyEwmu7KZY4NQGRzg9KD+TW0936
wUOe3p1wwCaX6UDCV0nwDGEqhLNohVJyWQvNG1Zyso+6Czd8+NUitLKCsu5v4Q+0
l3QJNuEkCzKQ3y4cuQENBFThyOoBCADMVx9UuGyaDZJdGyc8SPxZ3VqND8XxiWa3
4DKpG/Z9aRX4tscY3JCS9OR4/JWxa46S8gQXRRsHoOm1iwqnY1Msp0kfOzhc82zZ
ts90qgj8x7Fx7qqYVW388CVhM1ku8unslZg57Zh4w/Kx/55jVtZGGLqV6wiZzHfV
uh3UBhSJGQUW8zI/YfuTc2Dx73XL5NnCjh05DykJO82wCKYK1dQdf3Kin68Va7MF
BmGTz7fms4SAC6iqQheOHVjknpXoPm8k2zshRA4rYHlSS2CqoGC6hOo1lE+Pj55Y
gD8dya5PwSLCzTy/EapyQlxVbnhKs0hBlASgmykHCcEGE5uOetIZABEBAAGJASUE
GAEKAA8CGwwFAlc8dQEFCQQ735cACgkQJO3qUDMPtXGWjAf/XT90O6wEuBzd6sKt
IPmjJNmDAlas4YUgvr638IbRr8WBJBBfdSKo7WEe337CFvPU/N/NuOwVlPBCgWXz
pA488hi4ThNxdZXHKfKg4xr8nxNJKbhAcjzaUI1x/nCrF4kFBx8ItxxrS/WG9de2
ZEOHY25uaPTKuONjUjGyoc8dZ6OBZidAGPphCFq5bg7AvX+NX9gZUtqQabSPvxOS
krq8RGTiOaGZH6/IqatwbMwYcUFctyCjjD+GBRTkXCLfnPD/1muD9OioskcSFTov
tEkBpGBg9dhHNyUDHFH9KB9MNAu/NOL1CU/pFFw7e2/HgwEvmmx9wKlk4je409Vm
Vifk5rkBDQRXPHTIAQgA08EJO9uSTqTr0S+YTsve1RWaZ4YZwANj4TKBYAyFUhPf
ZAN58Vq8h+DABzrcilWm9inosFC2fS4sI+FLGtHfo+Z0NQ6x7mc9WNX4SDE8qwn4
WLiLvsHeFP8YB/cVkvdOAD3XUrrCJsxgEzGx2up1fxYgK9IQWATXp7ClihIk+3Bd
hRYBR0JJeLF90SLleYQ4UHNWo4yKwNzNAdFne64ZWH1aaQEw9O3tqtfD+3GDw1I+
mYXtH9pzfOsAaR2F/Ebsf788qQ/IXCagPzv75OxUtVc5jyIcHFYR6fYdX7GHIvE4
pSZuvvMTaMPbowHY8KHf4ctrbvBfk1hlMiqJij+7/wARAQABiQElBBgBCgAPBQJX
PHTIAhsgBQkB4TOAAAoJECTt6lAzD7VxaT8H+gMxdoZj9choEeL4MUcHFpPXcQJk
GHc1w2y7AzGCtJ+cf9fuSKBMwSOyJjE4HBdGDDeVyUEMH3d8Au3VFTmpPXavUddg
j9wLRX/v5+NAYCpLCaohbbuJF/FTRigeVKgRnXNpPP/0EEWlTRHHpnFCsWWJHZWz
M6pyAfiF6Q7m7oxDZavp8t9OYltnLzfBVaVWkZ5IR/WeYwiGFKxi+zldZytm5Lrv
SKPv6s4k2GBUAXp08przKJh627MtcZmLrVJBCjTx3QQJlSyWyY8WiOkBySZd0xQd
Z44n1PmB4qxQaVIElmpivOCSLU7JJmWNqph2wcVGZt7yTvQvVTPzTeuOW7m5AQ0E
Vzx07AEIALjK5eCmiGjdBfAeHgoC5Niw6gu1130MWFARuVcFI8JHxAwRUuezMwlk
mKmBg8Le0UBzPso37udiv+slhxF1adM9jRTQ4OjRm7TAFEkbttsvD8z1DnRnPj5n
CkRDwZsZBOZl8cjCFMQFTtwPUjXrBPE/fE4eWMjq0Mi09gRv+Zuj7hG24BJaa3RO
lS8RFryzJD3eErr78tz7l0rqJ6GTfyaSxl+OL4LKATxDFiveJmykzxE31ECPIKKp
02QYKr8B8+HpaMPTEIl9SeHLjHg9P6xAbJhDB9NZkmCz0mKfr5QkIgtk5aYEhsjj
HTeleDn+Bw3OKbyJ/Mxn6FBdXGnTsocAEQEAAYkCRAQYAQoADwUCVzx07AIbAgUJ
AeEzgAEpCRAk7epQMw+1ccBdIAQZAQoABgUCVzx07AAKCRD5mChI4JTcsbuDB/9E
9zH6bxsY4I4+jYxEraywXbaOfJyngD6iANJ0ZhNKb5oNByTVBR4QvTCWRuAPY1V3
dT3R+++W/Y1wDAOhKsohfL0+YXnZzdualn+YF3ZN/U7SopDr0uIjUvbyZoiCH7lF
rLoQib0V/ZmMU+yZFSP/8uze7g1CTdcorxX1D04Swx/wf5Vk8VTO2PPW4JqMl94J
v6vurC1QuUAcqOPuyQWVbCSgP9jkaUZ/UU+nFxgStJ6c3wKHj1WjGzXWOpSpulXN
5SVg98wldDByJixHJcZ96aHkIbZH+gYxEjzIqkkFIAwfi7b+/fEIWLFVEvqoO4pZ
MvyLcm93FBZ6ewmr81J2qnIH/2iNgNZkBk/L/JJhK91OnJvGAuGW6dXWOOUFk6wu
wzsBD7e91h4nlzr55JeQbPT2jasC1NUtKuRwac2NztkQFI3JyAJkkKyHepzr8hhw
wqslt33pFaMHbfv0+O3WIPon0dGTPY3DNtOOnCBCOz4dIMkGQvg3FGsbS+f+o4h1
evBX88cDAMVMRkLYC5mh0UgZoa/l+SkPyGyT59RuSJbuMygMSevnMW4I+7jKYH5d
WZQ8Bh2/a4Xspk+55eX1v+KYm0TmOhFXDt4dfnNTT9Bt5RkTmz2PP8ZRxD5kkeUz
UPcGznTx5OiwFlyp7385K6/VUH5LrymiqAuBayTDZKYNmGM=
=65nI
-----END PGP PUBLIC KEY BLOCK-----
	</textarea>
    </body>
</html>
