<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
		<meta charset="UTF-8">
		<title>main page</title>
	</head>
	<body>
		<div>
			<div class='padding'>
				<div>Your public key: </div>
				<textarea style="width: 50%; height: 10rem">{{ pkey }}</textarea>
			</div>
			<div>
					<form method='get' action='rcv_form' >
					  	<button type='submit'>Receive message</button>
					</form>
			</div>
			<div>
					<form method='get' action='snd_form' >
						<button type='submit'>Send message</button>
					</form>
			</div>
			<div>
					<form method='get' action='contact_form' >
					 	<button type='submit'>Add contact</button>
					</form>
			</div>
		</div>
	</body>
</html>
