<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>main page</title>
	</head>
	<body>
		<p>Your public key: 
		<textarea readonly>{{ pkey }}</textarea>
		</p>
		<p>
		<form method='get' action='rcv_form' >
			  <button type='submit'>Recive message</button>
		</form>
		</p>
		<p>
		<form method='get' action='snd_form' >
			  <button type='submit'>Send message</button>
		</form>
		</p>
		<p>
		<form method='get' action='contact_form' >
			  <button type='submit'>Add contact</button>
		</form>
		</p>
	</body>
</html>
