body{
	margin: 0px 0;
	background-color: #212121;
	text-align: center;
}
div{
	color: #E0E0E0;
	font-family: 'Anaheim', sans-serif;
	font-weight: bold;
}


div.padding{
	padding: 10px;
}

#blackBar{
	top: 0;
	left:0;
	width:100%;
	height:80px;
	background-color: black;
	border: none !important;

}

img#logo{
	max-height: 100%;
	float: right;
	margin-left: 15px;
}

#formPart{
	margin-top: 30px;
}

p#projectName{
	padding-top: 5px;
	text-align: right;
	font-size: 50px;
	font-weight: bold !important;
	
}

input{
	background-color: #424242 !important;
	color: #E0E0E0 !important;
	border: none !important;
}
textarea{
	background-color: #424242 !important;
	color: #E0E0E0 !important;
	border: none !important;
}

button{
	text-align: center;
	margin: 5px 0;
	background-color: #E0E0E0 !important;
    color: #212121 !important;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border: none !important;
}